<% content_for :title, 'New trip' %>

<div class="mx-auto md:w-2/3 w-full my-5">
  <%= render 'shared/page_header', title: 'New trip' %>

  <%= render "form", trip: @trip %>

  <%= link_to trips_path, class: "btn btn-sm btn-ghost gap-1" do %>
    <%= icon 'arrow-left', class: 'w-4 h-4' %> Back to trips
  <% end %>
</div>
