<div class="container mx-auto px-4 py-12 max-w-2xl">
  <div class="ach-page">
    <div class="ach-header">
      <div class="ach-kicker">Dawarich</div>
      <h1 class="ach-title"><%= @set.definition.name %></h1>
    </div>

    <div class="ach-grid">
      <%= render 'achievements/set_card', set: @set, interactive: false %>
    </div>

    <p class="ach-footnote">Tracked with <%= link_to 'Dawarich', 'https://dawarich.app' %></p>
  </div>
</div>
